.hero-section-container{
    width: 100%;
    position: absolute;
    top: 0;
    height: 415px;
}


@media screen and (min-width: 1440px){
    .hero-section-container{
        display: flex;       
        height: 534px;
    }
}

@media screen and (min-width: 1920px){
    .hero-section-container{
        display: flex;       
        height: 60vh;
    }
}