.hero-section-container{
    width: 100%;
   
}


@media screen and (min-width: 1440px){
    .hero-section-container{
        display: flex;       
        height: 65vh;
        position: absolute;
        top: 0;
    }
}

@media screen and (min-width: 1920px){
    .hero-section-container{
        display: flex;       
        height: 60vh;
        
    }
}