.hero-slider-container {
  .hero-image {
    height: 415px;
    width: 100%;
  }
}

@media screen and (min-width: 744px) {
  .hero-image {
    &.mobile {
      display: none;
    }

    &.tablet {
      display: block;
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-slider-container {
    .hero-image {
      &.mobile {
        display: none;
      }

      &.tablet {
        display: none;
      }
      &.desktop {
        display: block;
        width: 840px;
        height: 534px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .hero-slider-container {
    width: 60vw;
    .hero-image {
      &.desktop {
        display: block;
        width: 60vw;
        height: 60vh;
      }
    }
  }
}
