.hero-slider-container {
  width: 100%;
  height: 415px;
  position: absolute;
  top:0;

  .hero-image {
    height: 415px;
    width: 100%;
  }
}

@media screen and (min-width: 744px) {
  .hero-image {
    &.mobile {
      display: none;
    }

    &.tablet {
      display: block;
      
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-slider-container {
    position: relative;
    width: 60vw;
    height: 65vh;
    @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
    .hero-image {
      &.mobile {
        display: none;
      }

      &.tablet {
        display: none;
      }
      &.desktop {
        display: block;
        width: 60vw;
        height: 65vh;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .hero-slider-container {
    width: 60vw;
    height: 65vh;
    .hero-image {
      &.desktop {
        display: block;
        width: 60vw;
        height: 65vh;
      }
    }
  }
}
