:root {
  --font-family: "League Spartan", sans-serif;

  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;   
  
  
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --gray-800: hsl(0, 0%, 27%);
  --gray-500: hsl(0, 0%, 63%);
  --gray-200: hsl(0, 0%, 85%);
  --gray-100: hsl(0, 0%, 94%);
  --gray-50: hsl(0, 0%, 98%);

  --spacing-0:   0px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
}
