.about-wrapper {
    width: 100%;
    height: 35vh;
    position: relative;
    display: flex;

    .about-image-container {
        width: 30%;
        height: 100%;

        .image-about {
            width: 30%;
            height: 100%;
            position: absolute;
            bottom: 0;
        }

    }

    .about-text {
        width: 100%;
        padding: 4em;
        width: 40%;
        height: 100%;

        .title-about {
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 5px;
        }

        .description {
            margin-top: 1em;
            line-height: 20px;
            color: var(--DarkGray);
        }

    }

}

@media (max-width: 375px) or (max-width: 1155px) {
    .about-wrapper {
        width: 100%;
        //height: 100%;
        //height: auto;
        height: 30vw;
        padding: 0;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        //bottom: 50%;
        //margin-top: auto;


        .about-image-container {
            position: relative;
            height: auto;
            //margin-top: 7em;

            &.first {
                width: 100%;
                height: auto;

            }

            .image-about {
                position: relative; //NEW
                height: auto;

                &.dark {
                    width: 100%;
                    height: auto;

                }
            }

            &.second {
                width: 100%;
                height: auto;
                margin-top: 0;


                .image-about {
                    &.light {
                        width: 100%;
                        //height: auto;
                        position: relative;
                    }
                }
            }
        }

        .about-text {
            width: 100%;
            padding: 1.8em;
            //height: 40vh;
            height: auto;

            .title-about {
                font-size: .8em;
            }
        }
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .about-wrapper {
        .about-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}