.header-wrapper {
    padding: 2em 5em;
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    gap: 4em;
    font-weight: 500;
    color: var(--White);
    position: relative;
    z-index: 1;


    .menu-responsive-hamburger {
        display: none;
        cursor: pointer;
        font-size: 1.5em;
        position: absolute;
        left: 10%;
    }

    .logo {
        font-size: 2.5em;
        font-weight: 500;
    }

    .nav-list {
        display: flex;
        align-items: center;
        font-size: 1em;
        gap: 1.5em;

        .nav-list-item {
            padding: .2em;

            a {
                color: var(--White);
                position: relative;

                .hover-navlink {
                    width: 50%;
                    margin-left: 25%;
                    position: absolute;
                    bottom: 1;
                    height: 2px;
                    transform: scaleX(0);
                    /* Inicialmente invisível */
                    transform-origin: center;
                    transition: transform 0.3s ease-in-out;
                    color: var(--White);
                }

                &:hover {
                    .hover-navlink {
                        transform: scaleX(1);
                        /* Linha aparece com animação */

                    }
                }

            }
        }


    }



    /* Inicio responsividade para tablets (máximo de 1024px) */
    @media (max-width: 1024px) {}

    /* Término responsividade para tablets (máximo de 1024px) */
}

/* Inicio responsividade celular */

@media (max-width: 375px) or (max-width: 1155px) {
    .header-wrapper {
        justify-content: center;
        width: 100%;

        &.bg-header {
            background-color: var(--White);
        }

        .menu-responsive-hamburger {
            display: block;

            &.close {
                color: var(--Black);
            }
        }

        .logo {
            display: block;

            &.show-menu-responsive {
                display: none;
            }
        }

        .nav-list {
            display: none;


            &.show-menu-responsive {
                width: 100%;
                height: 100%;
                gap: 10px;
                display: flex;
                flex-direction: row;
                font-size: 18px;
                font-weight: 600;

                .nav-list-item {
                    a {
                        color: var(--Black);
                    }
                }
            }
        }


    }
}

/* Tèrmino responsividade celular */
@media (min-width: 1441px) and (max-width: 2559px) {
    .header-wrapper {
        .nav-list {
            .nav-list-item {
                a {
                    font-size: 1.3em;
                }
            }
        }

    }
}