@use "../../styles/typography.scss" as type;

.about-section-container {
  width: 100%;
  position: relative;
  .image-dark {
    height: 248px;
    background: url("../../../public/assets/images/image-mobile_dark.png")
      no-repeat;
    background-size: cover;
  }

  .about-text {
    h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 5.83333px;
    }
    p {
      @include type.text-preset-3-medium;
      color: var(--gray-500);
      margin-top: 16px;
    }
  }

  .image-light {
    height: 248px;
    background: url("../../../public/assets/images/image-mobile_light.png")
      no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 744px) {
  .about-section-container {
    .image-dark {
      width: 100%;
      height: 320px;
      background: url("../../../public/assets/images/image-tablet_dark.png")
        no-repeat;
      background-size: cover;
    }

     .image-light {
      width: 100%;
      height: 320px;
      background: url("../../../public/assets/images/image-tablet_light.png")
        no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 1440px) {
  .about-section-container {
    display: flex;
    width: 100vw;
    height: 35vh;

    .about-text{      
      width: 40vw;
      height: 35vh;
      p{
        margin-top: 16px;
      }
      &.container-padding{
        padding: 48px;
      }
    }

    .image-dark {
      width: 32vw;
      height: 35vh;
      background: url("../../../public/assets/images/image-desktop_dark.png")
        no-repeat;
      background-size: cover;
    }
    .image-light{
      width: 35vw;
      height: 35vh;
      background: url("../../../public/assets/images/image-desktop_light.png")
        no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 1920px) {
  .about-section-container {
    height: 40vh;
    .image-dark {
      height: 40vh;
      width: 32%;
    }
     .about-text{
      width: 35%;
      height: 40vh;
      &.container-padding{
        padding: 100px;
      }
      
    }

    .image-light {
      height: 40vh;
      width: 35%;
    }
  }
}
