.roomstyling-wrapper {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;

    //transition: 2s ease-in-out;

    .roomstyling-image {
        width: 60%;
        height: auto;


        .image-section {
            width: 60vw;
            height: 65vh;



            &.active {
                transition: 0.5s ease-in-out;
                //opacity: 1;
                //z-index: 1; // A imagem ativa fica no topo
            }

        }

        .image-section.active {}

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .roomstyling-description {
        display: flex;
        gap: 1em;
        width: 40%;
        height: auto;
        color: var(--Black);
        padding: 5em;
        position: relative;


        .box-content {
            text-align: center;
            width: 100%;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2em;

            .title {
                font-size: 3.8em;
                text-align: left;
            }

            .description {
                text-align: start;
                color: var(--DarkGray);
                letter-spacing: 1px;
                line-height: 18px;
            }

            .btn-shop {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                letter-spacing: 18px;
                text-align: start;
                color: var(--Black);
                font-weight: 700;
                cursor: pointer;

                .icon-long-arrow {
                    font-size: 3em;
                    color: var(--DarkGray);
                }

                &:hover {
                    color: var(--DarkGray);
                }
            }
        }


    }

    .box-navigation {
        width: 25%;
        height: 13%;
        background-color: var(--Black);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;

        .navigation-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: var(--Black);
            border: none;

            &.left {
                .arrow-icon {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                background-color: var(--DarkGray);
            }
        }
    }
}

/* Inicio responsividade celular */

@media (max-width: 375px) or (max-width: 1155px) {

    .roomstyling-wrapper {
        flex-direction: column;
        width: 100%;
        height: auto;

        .roomstyling-image {
            width: 100%;
            height: auto;


            .image-section {
                width: 100%;
                height: auto;

                &.responsive {}

            }
        }

        .roomstyling-description {
            bottom: 0;
            width: 100%;
            height: auto;
            padding: 1.5em;


            .box-navigation {
                top: -14%;
                left: 75%;
            }

            .box-content {
                //padding: 2.2em 1em;
                width: 100%;

                .title {
                    font-size: 3em;
                }

                .btn-shop {
                    font-size: 1.3em;
                }

            }

        }
    }
}

/* Término responsividade celular */