.slider-controls-container{
    width: 112px;
    height: 56px;
    background-color: var(--Black);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button{
        display: inline-block;
        background-color: transparent;
        border: none;
    }
    
}