.about-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;

}

@media (max-width: 375px) or (max-width: 1155px) {
    .about-container {
        bottom: -25%;
    }
}