@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: var(--font-family);  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.container-padding {
  padding: 64px 32.5px;
}

@media screen and (min-width: 744px){
  .container-padding {
  padding: 64px;
}
}